<!DOCTYPE html>
<html lang="{{ $.Site.Language }}">
  <head>
    {{ block "title" . }}
      <title>
        {{ if .IsHome }}Toluwalemi Oluwadare | Software Engineer{{ else }}{{ .Title }} | Toluwalemi Oluwadare{{ end }}
      </title>
    {{ end }}
    {{ partial "head.html" . }}
  </head>
  <body class="{{ if ne $.Site.Params.defaultTheme "light" -}} dark-theme {{- end -}}">
    <div class="container">
      {{ partial "header.html" . }}

      <div class="content">
        {{ block "main" . }} {{ end }}
      </div>

      {{ block "footer" . }}
        {{ partial "footer.html" . }}
      {{ end }}
    </div>
  </body>
</html>
